<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8n6zxWrLvoSpWdIuDFkZWjAdj4THckPA</string>
	<key>GCM_SENDER_ID</key>
	<string>546173210545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lalon.NewsBit</string>
	<key>PROJECT_ID</key>
	<string>newsbit-8fe58</string>
	<key>STORAGE_BUCKET</key>
	<string>newsbit-8fe58.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546173210545:ios:14a896ccb5bddc5328b790</string>
</dict>
</plist>